@import "tailwindcss";
:root{
  --primary: #65ad96 ;
  --secondary: #a0d9fa;
  --light: #f57c6c;
  --sublight:#fa7cce;
  --male: #91c2f0;
  --female: #f37475
}


.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}



